.container-fluid {

    max-width: 960px;
    
}

.jumbotron {

    color: #fff;
    background-color: #20315b;
    text-align: center;

}

.list-group-item-secondary {

    color: #fff;
    background-color: #20315b;

}

tr:nth-child(::-webkit-meter-even-less-good-value) {background:#20315b}